/* CSS VARS & RESET */
/* vars */

:root {
  --gap-number: 10px;
  --red-color: #e94560;
  --green-color: #45e960;
  --violet-color: #533483;
  --bg-color: #16213e;
  --bg-light: #0f3460;
  --text-color: rgb(238, 238, 238);
  --font-size: 14px;
  --font-family: "Source Sans Pro", sans-serif;
  --border-radius: 3px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

/* Reset */

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
/* structure */

.container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  background: linear-gradient(#16213ef2, var(--bg-color)),
    url("./src/assets/imgList/argentina.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 100vh;
}

h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 3rem 0 2rem;
}

h1 span {
  font-size: 3rem;
  font-weight: bold;
  display: block;
  line-height: 200%;
}

header {
  height: 50px;
  position: sticky;
  background-color: var(--bg-color);
  top: 0;
  z-index: 1000;
}

header .container {
  display: flex;
  height: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

header .wrap-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

header .wrap-logo .logo {
  height: 30px;
}

header .wrap-logo span {
  font-size: 1.4rem;
  padding-left: 10px;
  color: var(--green-color);
}

header .wrap-user {
  display: flex;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user a:hover {
  opacity: 0.8;
}

.user .user-avatar {
  height: 24px;
  display: block;
}

.user .user-avatar img {
  height: 24px;
  padding-right: 10px;
}

.user .user-name {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

.user .user-menu {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  border-left: 1px solid #fff3;
  margin-left: 20px;
}

/* user-lists */
.user-panel {
  height: 40px;
  min-width: 200px;
  margin-right: 20px;
}

.user-panel ul {
  padding-bottom: 30px;
  display: none !important;
  background-color: #000d2e;
  padding: 0px;
  margin-top: -5px;
}

.user-panel .show-fav-list {
  display: flex;
  border: 1px solid #ffffff24;
}

.user-panel .show-list {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 1px 1px 24px 0px rgba(0, 0, 0, 0.5);
}

.user-panel .show-fav-list:first-child::after {
  content: "\276E";
  position: absolute;
  top: 10px;
  right: 10px;
  rotate: 270deg;
  opacity: 0.4;
}

.show-fav-list,
.user-list {
  display: flex;
  width: 200px;
  padding: 5px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 0.8rem;
  border-radius: var(--border-radius);
  position: relative;
}

.show-fav-list:hover,
.user-list:hover {
  background-color: var(--bg-light);
  cursor: pointer;
}

.show-fav-list .user-list-img,
.user-list .user-list-img {
  display: block;
  width: 34px;
  height: 25px;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
}

.show-list .show-all-lists {
  border-top: 1px solid var(--bg-light);
  font-size: 0.8rem;
  display: block;
  width: 100%;
  line-height: 30px;
  padding-left: 10px;
  color: var(--text-color);
  text-decoration: none;
  font-style: italic;
}

.show-list .show-all-lists:hover {
  background-color: var(--bg-light);
}

.show-list li:last-child {
  width: 100%;
}

/* .user-list .user-list-menu {
  position: absolute;
  right: 0;
  top: -4px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
}

.user-list .user-list-menu .user-list-favorite {
  visibility: hidden;
  background: transparent url("./assets/estrella.png") no-repeat center center /
    100%;
  font-size: 1.6rem;
  line-height: 100%;
}

.user-list .user-list-menu .user-list-favorite.favorite {
  background: transparent url("./assets/favorito.png") no-repeat center center/
    100%;
  visibility: visible;
}

.user-list:hover .user-list-menu .user-list-favorite,
.user-list:hover .user-list-menu .user-list-delete {
  visibility: visible;
}

.user-list .user-list-menu .user-list-delete {
  visibility: hidden;
  color: var(--red-color);
  font-weight: bold;
  font-size: 2rem;
  line-height: 100%;
} */

/* settings */

a.settings-logoff {
  margin-top: 20px;
  padding-top: 10px;
  color: var(--red-color);
  border-top: 1px solid var(--red-color);
}

/* grid */
.grid-container {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-gap: 30px;
  padding-top: 30px;
}

.grid-element {
  scale: 1;
  transition: all 0.2s;
  cursor: pointer;
}

.grid-element:hover {
}

.grid-element .elem-bg-image {
  background-color: #0f3460;
  border-radius: var(--border-radius);
  height: 120px;
  box-shadow: none;
  background-size: cover;
}

.grid-element:hover .elem-bg-image {
  box-shadow: 1px 1px 24px 0px rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  object-fit: contain;
}

.grid-element h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.grid-element h2.green {
  color: var(--green-color);
}

.grid-element .elem-check {
  display: none;
}

.grid-element .elem-check.check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(15, 51, 96, 0.8);
}

.grid-element:hover .elem-check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(15, 51, 96, 0.8);
}

.grid-element .elem-check img {
  height: 40px;
  width: 40px;
  filter: saturate(0);
}

.grid-element .elem-check img {
  height: 40px;
  width: 40px;
  filter: saturate(0);
}

.grid-element .elem-check.check img {
  filter: saturate(1);
}

@media screen and (orientation: portrait) {
  header .container {
    flex-direction: column;
  }

  header .wrap-user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
